<script src="/javascript/addComment.js"> </script>

<% include ./partials/header %>
<section class="container  p-3  ">
    <div id='question_details' class="mb-5">
        <h2> <%- question.titre %> </h2>
        <div class="container">
            
            <p class="text-justify "><%- question.description %> </p>
        </div>
        <div>
            <% tags.forEach(function (tag) { %>
            <span class="bg-secondary text-light m-2 p-1"><%- tag %></span>
            <% }); %>
        </div>
    </div>
    <div id="comments">
    <% if(results1.length > 0) {%>
        <% results1.forEach(function (result,i) { %>

        <div id="show_comments" class="bg-light pl-3 mb-3">
            <h3 class="text-center mr-2"><%- commentUser[i] %></h3>
            <p  class="p-2 align-content-center "><%- result.comment %></p>
        </div>
        <% }); %>
    <% } %>
    </div>
    
    <!-- <div class="p-2 ">
        <h4 class="text-center mr-2"><%- username %></h4>
    </div> -->
    <div id="add_comment" class="container p-2  mt-1 ">
        
            <form id='comment_form' class="pl-2" action="/forum/addCom/" method="POST" data-forumid="<%= question.id %>" >
                    <input name="comment" id="comment" placeholder="  write a comment here ..." ></input>
                    <button type="submit" class="btn btn-secondary " id="add_comment_button" hidden>Submit</button>  
            </form>
         
    </div>
</section>

