<script src="/javascript/addComment.js"> </script>

<% include ./partials/header %>
<section class="container  p-3  ">
    <div id='question_details' class="m-5">
        <h2> <%- question.titre %> </h2>
        <div class="container">
            
            <p class="text-justify p-3 m-4"><%- question.description %> </p>
        </div>
        <div>
            <% tags.forEach(function (tag) { %>
            <span class="bg-secondary text-light m-2 p-1"><%- tag %></span>
            <% }); %>
        </div>
    </div>
    <div id="comments">
    <% if(comments.length > 0) {%>
        <% comments.forEach(function (result,i) { %>
        <div id="user_comment">
            <div id="comment_username">
                <h4 ><%- commentUser[i] %></h4>
            </div>   
            <div id="show_comments" >
                <p><%- result %></p>
            </div>
        </div>
        <% }); %>
    <% } %>
    </div>
    
    <div id="add_comment" class="container p-2  mt-1 ">
        
            <form id='comment_form' class="pl-2" action="/forum/addCom/" method="POST" data-forumid="<%= question.id %>" >
                    <input name="comment" id="comment" placeholder="  write a comment here ..." ></input>
                    <button type="submit" class="btn btn-secondary " id="add_comment_button" hidden>Submit</button>  
            </form>
         
    </div>
</section>

